.header {
  padding: 2rem 4rem;
  display: flex;
  font-size: 14px;
  justify-content: center;
  column-gap: 20px;
}
.header a {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  font-family: Arial, Helvetica, sans-serif;
}
.header a:hover {
  opacity: 1;
}
